<html>
  <head>
       <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <link rel="stylesheet" href="https://code.ionicframework.com/contrib/ionic-contrib-tinder-cards/ionic.tdcards.css">
    
    <title>Ionic Swipe Down</title>

    <link href="https://code.ionicframework.com/1.0.0-beta.14/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <script src="https://code.ionicframework.com/collide/0.0.4/collide.js"></script>
    
    <script src="https://code.ionicframework.com/1.0.0-beta.14/js/ionic.bundle.js"></script>
    <script src="https://code.ionicframework.com/contrib/ionic-contrib-tinder-cards/ionic.tdcards.js"></script>
    <script src="functions.js"></script>
  </head>
<body ng-app="starter" no-scroll>
    <ion-pane ng-controller="CardsCtrl">
      <ion-header-bar class="bar-default">
        <h1 class="title">TD Cards</h1>
      </ion-header-bar>

      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" ng-controller="CardCtrl">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">LIKE</div>
          </div>
        </td-card>
      </td-cards>
    </ion-pane>
  </body>
</html>