 <div id="top-menu">
    <img id="logo" src="http://kolour.me/views/Images/kolour-logo-final.svg">
    <div class="search-bar-container">
        <div class="input-cap">
            <img class="search-icon center" src="http://kolour.me/views/Images/search-icon.svg">
        </div>
        <input type="text" id="search-bar" name="search-bar" placeholder="Discover Talent & Discover">
    </div>
    <ul id="main-menu">
       <li><a href="#/home">Home</a></li><span class="spacer-cont"><span class="spacer"></span></span>
       <li><a href="#/jobs">Jobs</a></li><span class="spacer-cont"><span class="spacer"></span></span>
       <li><a href="#/notifications">Notifications</a></li>
    </ul>
   <!--  ------------PROFILE THUMNAIL GOES HERE------------- -->
    <div id="menu-icon-container">
        <img id="menu-icon" style="float:right !important" src="http://kolour.me/views/Images/menu-icon-2.svg">
        <ul id="profile-menu">
            <div class="hover-buffer"></div>
            <li><a href="#/preview">Preview</a></li>
            <li><a href="#/settings">Settings</a></li>
            <li><a href="#/logout" ng-click="logout()">Sign Out</a></li>
        </ul>
    </div>
    <span id="balance">$20.00</span>
</div>

<div id="container">
    <!-- JOBS CONTAINER -->
    <div id="dashboard-hero-image">
        <h1 id="promotional-header" class="larger-text"><b style="font-family: 'nexa_boldregular'">Your Resume lives here.</b> Help us <br> make it the industry standard.</h1>
        <a id="invite" class="larger-text" href="#">Invite >></a>
    </div>
    
    <div id="sort-menu">
        <h4 id="sort-menu-title">Stay Updated</h4>
        <ul id="news-sort">
            <!-- News -->
            <li><a href="?cat=News" onclick="changeFrag('News');" class="">
                <span style="border:4px solid #d5c8cd;" class="ring"></span>
            </a></li>

            <!-- Tips -->
            <li><a href="?cat=Tips" onclick="changeFrag('Tips');" class="">
                <span style="border:4px solid #4bba7d;" class="ring"></span>
            </a></li>

            <!-- Science -->
            <li><a href="?cat=Science" onclick="changeFrag('Science');" class="">
                <span style="border:4px solid #e24673;" class="ring"></span>
            </a></li>

            <!-- Tech -->
            <li><a href="?cat=Technology" onclick="changeFrag('Technology');" class="">
                <span style="border:4px solid #51a5db;" class="ring"></span>
            </a></li>

            <!-- Design -->
            <li><a href="?cat=Design" onclick="changeFrag('Design');" class=""><span style="border:4px solid #e9d963;" class="ring"></span>
            </a></li>

            <!-- Cool -->
            <li><a href="?cat=WasteTime" onclick="changeFrag('WasteTime');" class="">
                <span style="border:4px solid #f89d41;" class="ring"></span>
            </a></li>
        </ul>
        <h5 id="sort-by">Sort By</h5>
    </div>
    <div id="news-cont">
        <div id="newsfeed" class="mousescroll">
            <div class="block" id="news-header">
                <span></span><section style="width:80%; margin:0% 10%;">
                    <h2  class="medium-text" style="font-family: 'nexa_boldregular'">Welcome! I'm your dashboard</h2>
                    <h2 class="medium-text" style="font-weight:normal">Stay updated with latest <br> industry news.</h2>
                    <img id="smile-face" src="http://kolour.me/views/Images/smile-face.png">
                </section>
            </div>
            <div class="block">
                <div class="overlay"></div>
                <div class="cell" style="background-image: url(); background-position:center; background-size: cover;">
                </div>
                    <div class="cell">
                        <iframe src="" width="">
                            Sorry, your browser does not support youtube.
                        </iframe>
                    </div>
                <div class="title-cont">
                    <a href="" target="_blank">
                        <h4 class="blog-name"></h1>
                        <h1 class="title medium-text"></h3>
                        <h6 class="pub-date"></h6>
                    </a>
                    <div class="social-container">
                        <!--<img class="share-icon" src="../views/Images/share-icon.svg">-->
                        <img class="share-icon" src="https://d20gj6m76a89ac.cloudfront.net/images/share-icon.svg">
                        <div class="social-footer"> 
                            <span class='st_facebook_custom social-btn' displayText='Facebook' st_title=''></span>
                            <span class='st_twitter_custom social-btn' displayText='Tweet' st_title='' st_url=''></span>
                            <span class='st_googleplus_custom social-btn' displayText='Google +' st_title='' st_url=''></span>
                            <span class='st_linkedin_custom social-btn' displayText='LinkedIn' st_title='' st_url=''></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>             
    </div>  
</div>