<div id="wrapper">
    <div id="sign-bar">
        <!--<img class="login-container" src="../views/Images/kolour-logo2.svg">-->
        <img class="login-container" src="https://d20gj6m76a89ac.cloudfront.net/images/kolour-logo2.svg">
        <h1 class="container medium-text">Discover</h1>
        <h2 class="container small-text"><span style="color:#a6d0d0">Search by skill, location, and worktype.</span><br> Online personal branding, create a Kolourful profile now.</h2>
        <form name="loginForm" class="login-container" ng-submit="emailLogin()" novalidate>
            <input class="small-text" id="user_name" type="text" name="email" ng-model="email" placeholder="Email or Username" autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'EMAIL'" required autofocus>
            <input class="small-text" id="user_password" type="password" name="password" ng-model="password" autocomplete="off" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'PASSWORD'" required>
            <input id="user_rememberme" name="user_rememberme" value="1" type="checkbox">
            <label class="label off-center smaller-text" for="user_rememberme"><span></span>Stay logged in</label>
            <button type="submit" name="login" class="btn small-text" style="background:#383034; position:relative;">
                <span id="btn-text">Start Kolouring</span>
                <img id="arrow" src="https://d20gj6m76a89ac.cloudfront.net/images/go-btn.svg">
            </button>
        </form>
        <span id="login-footer" class="smaller-text"><a href="#/signup">Sign Up</a>&nbsp;|&nbsp;<a href="#/password_reset">Forgot Password?</a></span>
        <!--<img class="login-container" id="banner" src="../views/Images/banner-icons.svg">-->
        <img class="login-container" id="banner" src="https://d20gj6m76a89ac.cloudfront.net/images/banner-icons.svg">
        <!--<img id="btm-border" src="../views/Images/point-border.svg">-->
        <img id="btm-border" src="https://d20gj6m76a89ac.cloudfront.net/images/point-border.svg">
    </div>
</div>