<form id="sign-up" method="post" ng-submit="signup()" name="signupForm">
	<div ng-class="{ 'has-error' : signupForm.firstName.$invalid && signupForm.firstName.$dirty }">
		<input id="firstName" type="text" pattern="[a-zA-Z0-9]{2,64}" name="firstName" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" ng-model="firstName" required />
	</div>

	<div ng-class="{ 'has-error' : signupForm.lastName.$invalid && signupForm.lastName.$dirty }">
		<input id="lastName" type="text" pattern="[a-zA-Z0-9]{2,64}" name="lastName" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" ng-model="lastName" required />
	</div>

	<div ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
		<input id="email" type="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" ng-model="email" required />
	</div>

	<div ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
		<input id="password" type="password" name="password" pattern=".{6,}" autocomplete="off" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" ng-model="password" required />
	</div>

	<button type="submit" class="btn small-text" style="background:#383034; position:relative;">
		<span id="btn-text">Start Kolouring</span>
		<img id="arrow" src="../views/Images/go-btn.svg">
	</button>

	<p><small>Already have an account? <a href="#/login">Log in now</a></small></p>
</form>